main{
    width: 85%;
    text-align: center;
    margin: 25px auto;
    background-color: rgb(76, 126, 18);
    color: rgb(249, 249, 251);
}

.container{
    width: 75%;
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(35, 113, 108);
}

.box{
    border: 2px solid black;
    margin: 10px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(134, 13, 122);
}