main{
    width: 85%;
    text-align: center;
    margin: 25px auto;
    background-color: rgb(212, 250, 169);
    color: rgb(0, 0, 0);
}

.container{
    width: 75%;
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(109, 253, 244);
}

.box{
    border: 2px solid black;
    margin: 10px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(250, 178, 243);
}